^^order_begin^^
=====================================================
YOUR ^^store_name^^ RECEIPT
=====================================================

Thank you for ordering from ^^store_name^^.

If you would like to update your payment card for future transactions, please use this link and enter your updated billing information: ^^store_domain^^/cart?cart=updateinfo.

=====================================================

^^receipt^^
^^cart^^

^^order_end^^




^^updateinfo_begin^^
=====================================================
YOUR ^^store_name^^
BILLING INFORMATION HAS BEEN UPDATED
=====================================================
Your billing information has been updated as displayed below.

^^receipt^^

^^updateinfo_end^^




^^subscription_cancel_begin^^
=====================================================
^^store_name^^
SUBSCRIPTION CANCELLATION CONFIRMATION
=====================================================

This email is confirmation that the subscription listed below will be cancelled and not billed further.

^^receipt^^
^^cart^^

^^subscription_cancel_end^^