<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>{{ store_name|raw }} Checkout</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="https://{{ store_domain }}/themes/text/styles.css" type="text/css" media="screen" charset="utf-8" />
</head>

<body id="checkout">
	<div id="pageContainer" style="width:760px; margin:0px auto;">

{% if not is_updateinfo %}
{% block cart %}
<div id="fc_checkout_cart">{# BEGIN CART TWIG TEMPLATE #}
{% if not for_email %}
<!-- begin cart output -->
<div id="fc_cart_container"><div id="fc_cart_container_inner">
{% endif %}
{% if with_controls %}
<noscript>
	<div id="fc_error_noscript" class="fc_error">
		<h3>{{ lang.cart_warning|raw }}:</h3>
		<p>{{ lang.cart_no_javascript_message|raw }}</p>
	</div><!-- #fc_errorNoScript -->
</noscript>
<form id="fc_cart_form" action="{{ post_url }}" method="post">
	<div id="fc_cart_controls_top" class="fc_cart_controls">
		<input type="hidden" name="cart" value="update" />
	{% if supports_paypal_express %}
		<a class="fc_link_nav fc_cart_update fc_cart_update_paypal" href="#" onclick="fc_UpdateCart();return false;">{{ lang.cart_update_cart|raw }}</a>
	{% else %}
		<a class="fc_link_nav fc_cart_update" href="#" onclick="fc_UpdateCart();return false;">{{ lang.cart_update_cart|raw }}</a>
	{% endif %}
	{% if items|length > 0 %}
		{% if supports_paypal_express %}
		<a class="fc_link_nav fc_link_forward fc_cart_checkout_paypal" href="checkout.php?ThisAction=paypal_express&{{ session_name }}={{ session_id }}" target="_top">
			<img src="{{ paypal_checkout_button_url }}" />
		</a>
		<span class="fc_cart_checkout_or">-OR-</span>
	{% endif %}
		<a class="fc_link_nav fc_link_forward fc_cart_checkout" href="checkout.php?{{ session_name }}={{ session_id }}" target="_top">{{ lang.cart_checkout|raw }}</a>
	{% endif %}
	</div><!-- #fc_cart_controls_top -->
{% endif %}
{% if with_controls %}
	{{ html_messages|raw }}
{% endif %}
{% if for_email %}
	<table id="fc_cart_table" width="100%" style="font-size:12px; text-align:left;" cellspacing="0" cellpadding="5">
{% else %}
	<table id="fc_cart_table" cellspacing="0" cellpadding="0">
{% endif %}
		<caption>{{ lang.cart_caption|raw }}</caption>
{% if not for_email %}
		<thead>
{% endif %}
			<tr id="fc_cart_head">
			{% if has_product_images %}
				<th{{ css_styles.background }} id="fc_cart_head_image"><span>{{ lang.cart_image|raw }}</span></th>
			{% endif %}
				<th{{ css_styles.background }} id="fc_cart_head_item"><span>{{ lang.cart_item|raw }}</span></th>
				<th{{ css_styles.background }} id="fc_cart_head_quantity"><span>{{ lang.cart_quantity|raw }}</span></th>
				<th{{ css_styles.background }} id="fc_cart_head_price"><span>{{ lang.cart_price|raw }}</span></th>
			</tr>
{% if not for_email %}
		</thead>
		<tfoot>
{% endif %}
			<tr id="fc_cart_foot_subtotal">
				<td{{ css_styles.border2_right }} class="fc_col1" colspan="{{ colspan-1 }}" >{{ lang.cart_subtotal|raw }}:</td>
				<td{{ css_styles.border2 }} class="fc_col2">{{ cart_sub_total }}</td>
			</tr>
		{% if has_future_products %}
			<tr id="fc_cart_foot_subscriptions">
				<td class="fc_col1" colspan="{{ colspan-1 }}">{{ lang.cart_future_subscriptions|raw }}:</td>
				<td{{ css_styles.right }} class="fc_col2">{{ future_total_price }}</td>
			</tr>
		{% endif %}
	{% for coupon in coupons %}
		{% if not coupon.is_applied %}
			<tr class="fc_cart_foot_discount fc_coupon_unapplied">
		{% else %}
			<tr class="fc_cart_foot_discount">
		{% endif %}
				<td{{ css_styles.right }} class="fc_col1" colspan="{{ colspan-1 }}">
					{{ coupon.name }}
				</td>
				<td class="fc_col2">
					<span class="fc_discount">{{ coupon.amount }}</span>
				{% if with_controls %}
					<span class="fc_cart_coupon_remove">
						<a href="{{ post_url }}?cart=remove_coupon&amp;coupon_code_id={{ coupon.id }}&amp;{{ session_name }}={{ session_id }}" class="fc_cart_remove_link" title="{{ lang.cart_remove_coupon|raw }}">[x]</a>
					</span>
				{% endif %}
				</td>
			</tr>
	{% endfor %}
		{% if with_controls and has_eligible_coupons %}
			<tr id="fc_cart_foot_discount_new">
				<td{{ css_styles.right }} class="fc_col1" colspan="{{ colspan-1 }}">
					<a href="#" onclick="fc_AddCoupon(); this.blur(); return false;">{{ lang.cart_add_coupon|raw }}</a>
				</td>
				<td class="fc_col2">
					<input type="text" name="coupon" id="fc_coupon" class="fc_text fc_text_short" value="" style="display:none;" />
				</td>
			</tr>
		{% endif %}
{% if not with_controls %}
		{% if show_shipping_tbd %}
			<tr id="fc_cart_foot_shipping_tbd">
				<td{{ css_styles.right }} class="fc_col1" colspan="{{ colspan-1 }}">{{ shipping_and_handling_label|raw }}:</td>
				<td class="fc_col2">{{ lang.checkout_tbd|raw }}</td>
			</tr>
		{% endif %}
		{% if show_shipping_tbd and hide_shipping_row %}
			<tr id="fc_cart_foot_shipping" style="display: none;">
		{% else %}
			<tr id="fc_cart_foot_shipping">
		{% endif %}
				<td{{ css_styles.right }} class="fc_col1" colspan="{{ colspan-1 }}">{{ shipping_and_handling_label|raw }}:</td>
			{% if show_shipping_tbd %}
				<td class="fc_col2">{{ lang.checkout_tbd|raw }}</td>
			{% else %}
				<td class="fc_col2">{{ cart_total_shipping }}</td>
			{% endif %}
			</tr>
	{% if has_future_products %}
		{% if show_future_shipping_and_handling %}
			<tr id="fc_cart_foot_future_shipping">
		{% else %}
			<tr id="fc_cart_foot_future_shipping" style="display: none;">
		{% endif %}
				<td{{ css_styles.right }} class="fc_col1" colspan="{{ colspan-1 }}">{{ lang.cart_future_subscriptions|raw }} {{ shipping_and_handling_label|raw }}:</td>
				<td class="fc_col2">{{ future_shipping_and_handling }}</td>
			</tr>
	{% endif %}
	{% if has_taxes %}
		{% for tax in taxes %}
			{% if tax.show_tax %}
			<tr id="fc_cart_foot_tax_{{ tax.id }}" class="fc_cart_foot_tax">
			{% else %}
			<tr id="fc_cart_foot_tax_{{ tax.id }}" class="fc_cart_foot_tax" style="display: none;">
			{% endif %}
				<td{{ css_styles.right }} class="fc_col1" colspan="{{ colspan-1 }}">{{ tax.description|raw }}:</td>
				<td class="fc_col2">{{ tax.amount }}</td>
			</tr>
		{% endfor %}
		{% if show_tax_tbd %}
			{% if tax_total <= 0 %}
				<tr id="fc_cart_foot_tax_tbd">
			{% else %}
				<tr id="fc_cart_foot_tax_tbd" style="display: none;">
			{% endif %}
					<td class="fc_col1" colspan="{{ colspan-1 }}">{{ lang.checkout_tax|raw }}:</td>
					<td class="fc_col2">{{ lang.checkout_tbd|raw }}</td>
				</tr>
		{% endif %}
	{% endif %}
{% endif %}
			<tr id="fc_cart_foot_total">
				<td class="fc_col1" colspan="{{ colspan-1 }}">{{ lang.cart_order_total|raw }}:</td>
				<td class="fc_col2">{{ cart_order_total }}</td>
			</tr>
	{% if not for_email %}
		</tfoot>
	{% endif %}
{% for item in items %}
		{% if item.multiship > 0 %}
	{% if not for_email %}
		<tbody class="fc_ship_to">
	{% endif %}
			<tr>
				<th id="fc_shipto_{{ item.multiship }}_cart_row" class="fc_shipto" colspan="{{ colspan }}">
					{{ lang.cart_shipto|raw }}: {{ item.shipto }}
				</th>
			</tr>
	{% if not for_email %}
		</tbody>
	{% endif %}
		{% endif %}
	{% if not for_email %}
		<tbody>
	{% endif %}
		{% if item.item_number == items|length %}
			<tr id="product_{{ item.id }}" class="fc_cart_item fc_cart_item_last">
		{% else %}
			<tr id="product_{{ item.id }}" class="fc_cart_item">
		{% endif %}
			{% if has_product_images %}
				<td class="fc_cart_item_image"{{ css_styles.border }}>
				{% if item.image != '' %}
				{% if item.url != '' %}
					<a href="{{ item.url }}" target="_top" alt="{{ item.alt_name }}">
				{% endif %}
					<img class="fc_cart_thumbnail" src="{{ item.image }}" />
				{% if item.url != '' %}
					</a>
				{% endif %}
				{% endif %}
				</td>
			{% endif %}
				<td class="fc_cart_item_details"{{ css_styles.border }}>
					<span class="fc_cart_item_name">{{ item.name }}</span>
				{% if item.options|length > 0 or item.code != '' or item.category_code != 'DEFAULT' or item.weight != 0 or item.subscription_frequency != '' %}
					<ul class="fc_cart_item_options">
					{% for option in item.options %}
						<li class="fc_cart_item_option fc_cart_item_{{ option.class }}">
							<span class="fc_cart_item_option_name">{{ option.name }}</span><span class="fc_cart_item_option_separator">:</span>
							<span class="fc_cart_item_option_value">{{ option.value }}</span>
						</li>
					{% endfor %}
					{% if item.code != '' %}
						<li class="fc_cart_item_option fc_cart_item_code">
						{{ lang.cart_code|raw }}: {{ item.code }}
						</li>
					{% endif %}
					{% if item.category_code != 'DEFAULT' %}
						<li class="fc_cart_item_option fc_cart_category_code">
						{{ lang.cart_category|raw }}: {{ item.category_code }}
						</li>
					{% endif %}
					{% if item.weight != 0 %}
						<li class="fc_cart_item_option fc_cart_item_weight">
						{{ lang.cart_weight|raw }}: {{ item.weight }} <span class="fc_uom_weight">{{ weight_uom }}</span>
						</li>
					{% endif %}
					{% if item.subscription_frequency != '' %}
						<li class="fc_cart_item_option fc_cart_item_subscription_details">
							{{ lang.cart_subscription_details|raw }}
							<ul>
								<li class="fc_cart_item_option fc_cart_item_sub_frequency">
									<span class="fc_cart_item_option_name">{{ lang.cart_frequency|raw }}</span><span class="fc_cart_item_option_separator">:</span> <span class="fc_cart_item_option_value">{{ item.subscription_frequency }}</span>
								</li>
								<li class="fc_cart_item_option fc_cart_item_sub_startdate">
									<span class="fc_cart_item_option_name">{{ lang.cart_start_date|raw }}</span><span class="fc_cart_item_option_separator">:</span> <span class="fc_cart_item_option_value">{{ item.subscription_start_date }}</span>
								</li>
								<li class="fc_cart_item_option fc_cart_item_sub_nextdate">
									<span class="fc_cart_item_option_name">{{ lang.cart_next_date|raw }}</span><span class="fc_cart_item_option_separator">:</span> <span class="fc_cart_item_option_value">{{ item.subscription_next_transaction_date }}</span>
								</li>
							{% if item.subscription_end_date != "0000-00-00" %}
								<li class="fc_cart_item_option fc_cart_item_sub_enddate">
									<span class="fc_cart_item_option_name">{{ lang.cart_end_date|raw }}</span><span class="fc_cart_item_option_separator">:</span> <span class="fc_cart_item_option_value">{{ item.subscription_end_date }}</span>
								</li>
							{% endif %}
							</ul>
						</li>
					{% endif %}
					</ul>
				{% endif %}
				{% if with_controls %}
					<span class="fc_cart_remove_left">
						<a href="#" onclick="fc_RemoveItem({{ item.item_number }}); return false;" class="fc_cart_remove_link" title="{{ lang.cart_remove_item|raw }}">[x]</a>
					</span>
					<input type="hidden" id="id{{ item.item_number }}" name="id{{ item.item_number }}" value="{{ item.id }}" />
				{% endif %}
				</td>
				<td class="fc_cart_item_quantity"{{ css_styles.border }}>
				{% if with_controls %}
					<input class="fc_cart_item_quantity fc_text fc_text_short" type="text" id="quantity{{ item.item_number }}" name="quantity{{ item.item_number }}" value="{{ item.quantity }}" />
					<span class="fc_cart_remove_center">
						<a href="#" onclick="fc_RemoveItem({{ item.item_number }}); return false;" class="fc_cart_remove_link" title="{{ lang.cart_remove_item|raw }}">[x]</a>
					</span>
				{% else %}
					{{ item.quantity }}
				{% endif %}
				</td>
				<td class="fc_cart_item_price"{{ css_styles.border }}>
					<span class="fc_cart_item_price_total">{{ item.price_total }}</span>
					{% if item.quantity > 1 %}
					<span class="fc_cart_item_price_each"> ({{ item.price_each }} {{ lang.cart_each|raw }})</span>
					{% endif %}
				{% if with_controls %}
					<span class="fc_cart_remove_right">
						<a href="#" onclick="fc_RemoveItem({{ item.item_number }}); return false;" class="fc_cart_remove_link" title="{{ lang.cart_remove_item|raw }}">[x]</a>
					</span>
				{% endif %}
				</td>
			</tr>
	{% if not for_email %}
		</tbody>
	{% endif %}
{% endfor %}
{% if items|length == 0 %}
	{% if not for_email %}
		<tbody>
	{% endif %}
			<tr class="fc_cart_item">
				<td colspan="{{ colspan }}" id="fc_empty_cart">{{ lang.cart_empty|raw }}</td>
			</tr>
	{% if not for_email %}
		</tbody>
	{% endif %}
{% endif %}
	</table>
{% if with_controls %}
	<div id="fc_cart_controls_bottom" class="fc_cart_controls">
		<input type="hidden" name="cart" value="update" />
		<input type="hidden" name="item_count" value="{{ items|length }}" />
		<input type="hidden" name="{{ session_name }}" value="{{ session_id }}" />
		{# note: this is a duplication of the cart controls above, but trying to create a block caused errors #}
		<input type="hidden" name="cart" value="update" />
	{% if supports_paypal_express %}
		<a class="fc_link_nav fc_cart_update fc_cart_update_paypal" href="#" onclick="fc_UpdateCart();return false;">{{ lang.cart_update_cart|raw }}</a>
	{% else %}
		<a class="fc_link_nav fc_cart_update" href="#" onclick="fc_UpdateCart();return false;">{{ lang.cart_update_cart|raw }}</a>
	{% endif %}
	{% if items|length > 0 %}
		{% if supports_paypal_express %}
		<a class="fc_link_nav fc_link_forward fc_cart_checkout_paypal" href="checkout.php?ThisAction=paypal_express&{{ session_name }}={{ session_id }}" target="_top">
			<img src="{{ paypal_checkout_button_url }}" />
		</a>
		<span class="fc_cart_checkout_or">-OR-</span>
	{% endif %}
		<a class="fc_link_nav fc_link_forward fc_cart_checkout" href="checkout.php?{{ session_name }}={{ session_id }}" target="_top">{{ lang.cart_checkout|raw }}</a>
	{% endif %}
	</div><!-- #fc_cart_controls_bottom -->
</form>
{% endif %}
{% if not for_email %}</div></div><!-- #fc_cart_container_inner, #fc_cart_container -->{% endif %}
<!-- end cart output -->
{# END CART TWIG TEMPLATE #}</div>
{% endblock %}
{% endif %}

{% block checkout %}
{# BEGIN CHECKOUT TWIG TEMPLATE #}
<!-- ###########################################################################
BEGIN checkout
########################################################################### -->

<!--  *********** fc_checkout_container ************* -->

<div id="fc_checkout_container">{{ html_messages|raw }}
<form id="fc_form_checkout" method="post" action="{{ post_url }}" onsubmit="return false;">
	<div id="fc_form_checkout_error" class="fc_error" style="display:none">{{ lang.checkout_required_info_missing|raw }}</div>
		<div id="fc_cancel_continue_shopping">
			<input type="hidden" id="ThisAction" name="ThisAction" value="checkout" />
			<input type="hidden" id="customer_id" name="customer_id" value="{{ customer_id_encoded }}" />
			<input type="hidden" name="{{ session_name }}" value="{{ session_id }}" />
			{{ csrf_hidden_input|raw }}
		{% if auth_token_is_valid %}
			<input type="hidden" name="fc_auth_token" value="{{ fc_auth_token }}" />
			<input type="hidden" name="timestamp" value="{{ timestamp }}" />
			<input type="hidden" name="fc_customer_id" value="{{ fc_customer_id }}" />
		{% endif %}
		{# preserve paypal express variables #}
		{% if token != '' and payer_id != '' %}
			<input type="hidden" id="token" name="token" value="{{ token }}" />
			<input type="hidden" id="PayerID" name="PayerID" value="{{ payer_id }}" />
		{% endif %}
		{% if page_referer != '' and not is_updateinfo %}
			<a href="{{ page_referer }}">{{ lang.checkout_cancel_and_continue|raw }}</a>
		{% endif %}
		</div>

<!--  *********** login_register : Login or Register ************* -->

<div class="fc_fieldset_container" id="fc_login_register_container">
<h2>{{ lang.checkout_login_or_register|raw }}</h2>
<fieldset id="fc_login_register">
	<legend>{{ lang.checkout_login_or_register|raw }}</legend>
	<noscript>
		<div id="fc_error_noscript" class="fc_error">
			<h3>{{ lang.checkout_warning|raw }}</h3>
			<p>{{ lang.checkout_missing_message|raw }}</p>
		</div><!-- #fc_errorNoScript -->
	</noscript>
	<div class="fc_inner">
		<ol id="fc_login_register_list">
	{% if not customer_is_authenticated %}
			<li id="li_customer_email" class="fc_row fc_customer_email">
				<label class="fc_pre" for="customer_email">{{ lang.checkout_email|raw }}<span class="fc_ast">*</span></label>
				<input type="text" value="{{ email }}" autocomplete="off" class="fc_text fc_text_long fc_required" id="customer_email" name="customer_email">
				<label style="display:none;" class="fc_error" for="customer_email">{{ lang.checkout_error_email|raw }}</label>
				<p class="fc_account_message" id="fc_account_message_status">
					{{ lang.checkout_instructions_email|raw }}
				</p>
				<span style="display:none" id="login_ajax"><img alt="{{ lang.checkout_loading|raw }}" src="//cdn.foxycart.com/static{{ base_directory }}/images/ajax-loader.gif"></span>
				<p style="display:none;" class="fc_account_message" id="fc_account_message_explanation"></p>
			</li>
		{% if not is_updateinfo and checkout_type != 'guest_only' and checkout_type != 'account_only' %}
			<li class="fc_row fc_row_radio fc_guest_checkout">
				<label for="is_anonymous_1" class="fc_radio">
					<input type="radio" name="is_anonymous" value="1" id="is_anonymous_1" class="fc_radio"{% if default_to_guest %} checked="checked"{% endif %} />
					<span>{{ lang.checkout_as_guest|raw }}</span>
				</label>
			</li>
			<li class="fc_row fc_row_radio fc_guest_checkout">
				<label for="is_anonymous_0" class="fc_radio">
					<input type="radio" name="is_anonymous" value="0" id="is_anonymous_0" class="fc_radio"{% if not default_to_guest %} checked="checked"{% endif %} />
					<span>{{ lang.checkout_as_customer|raw }}</span>
				</label>
			</li>
		{% else %}
			{% if checkout_type == 'guest_only' %}
				<input type="hidden" name="is_anonymous" id="is_anonymous" value="1" />
			{% else %}
				<input type="hidden" name="is_anonymous" id="is_anonymous" value="0" />
			{% endif %}
		{% endif %}
	{% else %}
			<li class="fc_row fc_customer_email" id="li_customer_email">
				<span class="fc_pre">{{ lang.checkout_email|raw }}<span class="fc_ast">*</span></span>
				<span id="customer_email_authenticated" class="fc_text">{{ email }}</span>
				<input type="hidden" name="customer_email" id="customer_email" value="{{ email }}" />
				<label for="customer_email" class="fc_error" style="display:none;">{{ lang.checkout_error_email|raw }}</label>
				<p id="fc_account_message_sso" class="fc_account_message">{{ lang.checkout_sso_already_logged_in|raw }}</p
			</li>
	{% endif %}
			<li id="li_customer_password" style="display:none;" class="fc_row fc_customer_password">
				<p style="display:none;" class="fc_account_message" id="fc_account_message_password"></p>
				<label class="fc_pre" for="customer_password">{{ lang.checkout_password|raw }}</label>
				<input type="password" value="{{ customer_password }}" autocomplete="off" class="fc_text fc_text_long" id="customer_password" name="customer_password">
				<label style="display:none;" class="fc_error" for="customer_password">{{ lang.checkout_error_password|raw }}</label>
			</li>
			<li id="li_customer_password2" style="display:none;" class="fc_row fc_customer_password2">
				<label class="fc_pre" for="customer_password2">{{ lang.checkout_retype_password|raw }}</label>
				<input type="password" value="{{ customer_password }}" autocomplete="off" class="fc_text fc_text_long" onchange="FC.checkout.checkPasswords()" id="customer_password2" name="customer_password2">
				<label style="display:none;" class="fc_error" for="customer_password2">{{ lang.checkout_error_retype_password|raw }}</label>
			</li>
			<li id="li_customer_email_password" class="fc_row" style="display:none">
				<label for="fc_email_password" class="fc_error"><a id="fc_email_password" href="javascript:;" onclick="FC.checkout.emailPassword()">{{ lang.checkout_email_my_password|raw }}</a></label>
			</li>
			<li id="li_customer_new_password" class="fc_row" style="display:none">
				<label for="fc_new_password"><a id="fc_new_password" href="javascript:;" onclick="FC.checkout.newPassword()">{{ lang.checkout_change_my_password|raw }}</a></label>
			</li>
		</ol>
		<input type="hidden" name="email_found" id="email_found" value="{{ email_found }}" />
		<div id="fc_continue" class="fc_row fc_row_actions"><a href="#" onclick="FC.checkout.checkLogin(); return false;" class="fc_link_nav fc_link_forward">{{ lang.checkout_continue|raw }}</a></div>
		<span class="fc_clear">&nbsp;</span>
	</div><!-- .fc_inner -->
</fieldset><!-- #fc_login_register -->
<span class="fc_clear">&nbsp;</span>
</div><!-- #fc_login_register_container -->

{% if not is_subscription_cancel %}

<!--  *********** customer_billing : Billing Address ************* -->

<div id="fc_data_entry_container">
	<div id="fc_customer_info_container">

<div class="fc_fieldset_container" id="fc_customer_billing_container">
	<h2>{{ lang.checkout_billing_address|raw }}</h2>
	<fieldset id="fc_customer_billing">
		<legend>{{ lang.checkout_billing_address|raw }}</legend>
		<div class="fc_inner">
			<ol id="fc_customer_billing_list">
				<li class="fc_row fc_row_select fc_autocomplete fc_customer_country_name">
					<label class="fc_pre" for="customer_country_name">{{ lang.checkout_country|raw }}<span class="fc_ast">*</span></label>
					<select class="fc_text fc_text_long fc_required fc_location" data-default-value="{{ country_code }}" id="customer_country" name="customer_country">
					{{ country_options|raw }}
					</select>
					<input value="{{ (country_code == '') ? country_name : country_code }}" type="text" style="display:none;" class="fc_autocomplete_input fc_text fc_text_long fc_required fc_location" id="customer_country_name" name="customer_country_name">
					<label style="display:none;" class="fc_error" for="customer_country_name">{{ lang.checkout_error_country|raw }}</label>
				</li>
				<li class="fc_row fc_customer_first_name">
					<label class="fc_pre" for="customer_first_name">{{ lang.checkout_first_name|raw }}<span class="fc_ast">*</span></label>
					<input type="text" value="{{ first_name }}" class="fc_text fc_text_long fc_required" id="customer_first_name" name="customer_first_name">
					<label style="display:none;" class="fc_error" for="customer_first_name">{{ lang.checkout_error_first_name|raw }}</label>
				</li>
				<li class="fc_row fc_customer_last_name">
					<label class="fc_pre" for="customer_last_name">{{ lang.checkout_last_name|raw }}<span class="fc_ast">*</span></label>
					<input type="text" value="{{ last_name }}" class="fc_text fc_text_long fc_required" id="customer_last_name" name="customer_last_name">
					<label style="display:none;" class="fc_error" for="customer_last_name">{{ lang.checkout_error_last_name|raw }}</label>
				</li>
				<li class="fc_row fc_customer_company">
					<label class="fc_pre" for="customer_company">{{ lang.checkout_company|raw }}</label>
					<input type="text" value="{{ company }}" class="fc_text fc_text_long" id="customer_company" name="customer_company">
					<label style="display:none;" class="fc_error" for="customer_company">{{ lang.checkout_error_company|raw }}</label>
				</li>
				<li class="fc_row fc_customer_address1">
					<label class="fc_pre" for="customer_address1">{{ lang.checkout_address1|raw }}<span class="fc_ast">*</span></label>
					<input type="text" value="{{ address1 }}" class="fc_text fc_text_long fc_required" id="customer_address1" name="customer_address1">
					<label style="display:none;" class="fc_error" for="customer_address1">{{ lang.checkout_error_address1|raw }}</label>
				</li>
				<li class="fc_row fc_customer_address2">
					<label class="fc_pre" for="customer_address2">{{ lang.checkout_address2|raw }}</label>
					<input type="text" value="{{ address2 }}" class="fc_text fc_text_long" id="customer_address2" name="customer_address2">
				</li>
				<li class="fc_row fc_customer_city">
					<label class="fc_pre" for="customer_city">{{ lang.checkout_city|raw }}<span class="fc_ast">*</span></label>
					<input type="text" value="{{ city }}" class="fc_text fc_text_long fc_required" id="customer_city" name="customer_city">
					<label style="display:none;" class="fc_error" for="customer_city">{{ lang.checkout_error_city|raw }}</label>
				</li>
				<li class="fc_row fc_row_select fc_autocomplete fc_customer_state_name">
					<label class="fc_pre" for="customer_state_name">{{ lang.checkout_state|raw }}<span class="fc_ast">*</span></label>
					<select class="fc_text fc_text_long fc_required fc_location" data-default-value="{{ region_code }}" id="customer_state" name="customer_state">
					{{ region_options|raw }}
					</select>
					<input value="{{ (region_code == '') ? region_name : region_code }}" type="text" style="display:none;" class="fc_autocomplete_input fc_text fc_text_long fc_required fc_location" id="customer_state_name" name="customer_state_name">
					<label style="display:none;" class="fc_error" for="customer_state_name">{{ lang.checkout_error_state|raw }}</label>
				</li>
					<li class="fc_row fc_customer_postal_code">
					<label class="fc_pre" for="customer_postal_code">{{ lang.checkout_postal_code|raw }}<span class="fc_ast">*</span></label>
					<input type="text" value="{{ postal_code }}" class="fc_text fc_text_short fc_required" id="customer_postal_code" name="customer_postal_code">
					<label style="display:none;" class="fc_error" for="customer_postal_code">{{ lang.checkout_error_postal_code|raw }}</label>
					<label style="display:none;" class="fc_error fc_error_invalid_postal_code" for="customer_postal_code">{{ lang.checkout_error_invalid_postal_code|raw }}</label>
				</li>
				<li class="fc_row fc_customer_phone">
					<label class="fc_pre" for="customer_phone">{{ lang.checkout_phone|raw }}</label>
					<input type="text" value="{{ phone }}" class="fc_text fc_text_long" id="customer_phone" name="customer_phone">
					<label style="display:none;" class="fc_error" for="customer_phone">{{ lang.checkout_error_phone|raw }}</label>
				</li>
			</ol>
		{% if has_shippable_products and not has_multiship %}
			<div class="fc_row fc_row_checkbox" id="fc_use_different_address">
				<label class="fc_checkbox" for="use_different_addresses">
					<input{% if use_alternate_shipping_address %} checked="checked"{% endif %} type="checkbox" onclick="FC.checkout.displayShippingAddress(this)" class="checkbox" value="1" id="use_different_addresses" name="use_different_addresses">
					<span>{{ lang.checkout_use_shipping_address|raw }}</span>
				</label>
			</div>
		{% endif %}
			<span class="fc_clear">&nbsp;</span>
		</div><!-- .fc_inner -->
	</fieldset><!-- #fc_customer_billing -->
	<span class="fc_clear">&nbsp;</span>
</div>

<!--  *********** fc_shipto_# : Ship To: ************* -->

{% if has_multiship %}
	<div id="fc_address_multiship_container">
	{% for multiship in multiship_data %}
		<div class="fc_fieldset_container" id="fc_shipto_{{ multiship.number }}_container">
			<h2>{{ lang.checkout_shipto|raw }} <span class="fc_shipto_name">{{ multiship.address_name }}</span></h2>
			<fieldset id="fc_shipto_{{ multiship.number }}">
				<legend>{{ lang.checkout_shipto|raw }} <span class="fc_shipto_name">{{ multiship.address_name }}</span></legend>
				<div style="display:none;" class="fc_inner fc_shipto_display" id="fc_shipto_{{ multiship.number }}_display"></div>
				<div class="fc_inner fc_shipto_entry" id="fc_shipto_{{ multiship.number }}_entry">
					<ol id="fc_shipto_{{ multiship.number }}_list">
						<li id="li_shipto_{{ multiship.number }}_select" class="fc_row li_shipping_select">
							<label for="shipto_{{ multiship.number }}_select" class="fc_pre">{{ lang.checkout_multiship_use_address|raw }}</label>
							<select id="shipto_{{ multiship.number }}_select" name="shipto_{{ multiship.number }}_select" onchange="FC.checkout.selectAddress({{ multiship.number }},this)">
							<option value="" selected="selected">{{ lang.checkout_multiship_new_address|raw }}</option>
							<option value="-1">{{ lang.checkout_multiship_use_billing_address|raw }}</option>
							</select>
						</li>
						<li class="fc_row fc_row_select fc_autocomplete fc_shipto_{{ multiship.number }}_country_name">
							<label class="fc_pre" for="shipto_{{ multiship.number }}_country_name">{{ lang.checkout_country|raw }}<span class="fc_ast">*</span></label>
							<select class="fc_text fc_text_long fc_required fc_location" data-default-value="" id="shipto_{{ multiship.number }}_country" name="shipto_{{ multiship.number }}_country">
							{{ multiship.country_options|raw }}
							</select>
							<input value="{{ (multiship.country_code == '') ? multiship.country_name : multiship.country_code }}" type="text" style="display:none;" class="fc_autocomplete_input fc_text fc_text_long fc_required fc_location" id="shipto_{{ multiship.number }}_country_name" name="shipto_{{ multiship.number }}_country_name">
							<label style="display:none;" class="fc_error" for="shipto_{{ multiship.number }}_country_name">{{ lang.checkout_error_country|raw }}</label>
						</li>
						<li class="fc_row fc_shipto_{{ multiship.number }}_first_name">
							<label class="fc_pre" for="shipto_{{ multiship.number }}_first_name">{{ lang.checkout_first_name|raw }}<span class="fc_ast">*</span></label>
							<input type="text" value="{{ multiship.first_name }}" class="fc_text fc_text_long fc_required" id="shipto_{{ multiship.number }}_first_name" name="shipto_{{ multiship.number }}_first_name">
							<label style="display:none;" class="fc_error" for="shipto_{{ multiship.number }}_first_name">{{ lang.checkout_error_first_name|raw }}</label>
						</li>
						<li class="fc_row fc_shipto_{{ multiship.number }}_last_name">
							<label class="fc_pre" for="shipto_{{ multiship.number }}_last_name">{{ lang.checkout_last_name|raw }}<span class="fc_ast">*</span></label>
							<input type="text" value="{{ multiship.last_name }}" class="fc_text fc_text_long fc_required" id="shipto_{{ multiship.number }}_last_name" name="shipto_{{ multiship.number }}_last_name">
							<label style="display:none;" class="fc_error" for="shipto_{{ multiship.number }}_last_name">{{ lang.checkout_error_last_name|raw }}</label>
						</li>
						<li class="fc_row fc_shipto_{{ multiship.number }}_company">
							<label class="fc_pre" for="shipto_{{ multiship.number }}_company">{{ lang.checkout_company|raw }}</label>
							<input type="text" value="{{ multiship.company }}" class="fc_text fc_text_long" id="shipto_{{ multiship.number }}_company" name="shipto_{{ multiship.number }}_company">
							<label style="display:none;" class="fc_error" for="shipto_{{ multiship.number }}_company">{{ lang.checkout_error_company|raw }}</label>
						</li>
						<li class="fc_row fc_shipto_{{ multiship.number }}_address1">
							<label class="fc_pre" for="shipto_{{ multiship.number }}_address1">{{ lang.checkout_address1|raw }}<span class="fc_ast">*</span></label>
							<input type="text" value="{{ multiship.address1 }}" class="fc_text fc_text_long fc_required" id="shipto_{{ multiship.number }}_address1" name="shipto_{{ multiship.number }}_address1">
							<label style="display:none;" class="fc_error" for="shipto_{{ multiship.number }}_address1">{{ lang.checkout_error_address1|raw }}</label>
						</li>
						<li class="fc_row fc_shipto_{{ multiship.number }}_address2">
							<label class="fc_pre" for="shipto_{{ multiship.number }}_address2">{{ lang.checkout_address2|raw }}</label>
							<input type="text" value="{{ multiship.address2 }}" class="fc_text fc_text_long" id="shipto_{{ multiship.number }}_address2" name="shipto_{{ multiship.number }}_address2">
						</li>
						<li class="fc_row fc_shipto_{{ multiship.number }}_city">
							<label class="fc_pre" for="shipto_{{ multiship.number }}_city">{{ lang.checkout_city|raw }}<span class="fc_ast">*</span></label>
							<input type="text" value="{{ multiship.city }}" class="fc_text fc_text_long fc_required" id="shipto_{{ multiship.number }}_city" name="shipto_{{ multiship.number }}_city">
							<label style="display:none;" class="fc_error" for="shipto_{{ multiship.number }}_city">{{ lang.checkout_error_city|raw }}</label>
						</li>
						<li class="fc_row fc_row_select fc_autocomplete fc_shipto_{{ multiship.number }}_state_name">
							<label class="fc_pre" for="shipto_{{ multiship.number }}_state_name">{{ lang.checkout_state|raw }}<span class="fc_ast">*</span></label>
							<select class="fc_text fc_text_long fc_required fc_location" data-default-value="{{ multiship.region_code }}" id="shipto_{{ multiship.number }}_state" name="shipto_{{ multiship.number }}_state" style="display: none;">
							{{ multiship.region_options|raw }}
							</select>
							<input value="{{ (multiship.region_code == '') ? multiship.region_name : multiship.region_code }}" type="text" class="fc_autocomplete_input fc_text fc_text_long fc_required fc_location" id="shipto_{{ multiship.number }}_state_name" name="shipto_{{ multiship.number }}_state_name">
							<label style="display:none;" class="fc_error" for="shipto_{{ multiship.number }}_state_name">{{ lang.checkout_error_state|raw }}</label>
						</li>
						<li class="fc_row fc_shipto_{{ multiship.number }}_postal_code">
							<label class="fc_pre" for="shipto_{{ multiship.number }}_postal_code">{{ lang.checkout_postal_code|raw }}<span class="fc_ast">*</span></label>
							<input type="text" value="{{ multiship.postal_code }}" class="fc_text fc_text_short fc_required" id="shipto_{{ multiship.number }}_postal_code" name="shipto_{{ multiship.number }}_postal_code">
							<label style="display:none;" class="fc_error" for="shipto_{{ multiship.number }}_postal_code">{{ lang.checkout_error_postal_code|raw }}</label>
							<label style="display:none;" class="fc_error fc_error_invalid_postal_code" for="shipto_{{ multiship.number }}_postal_code">{{ lang.checkout_error_invalid_postal_code|raw }}</label>
						</li>
					</ol>
					<ol{% if multiship_data|length == 1 %} style="display:none;"{% endif %} class="fc_shipto_subtotal">
						<li class="fc_row fc_shipto_{{ multiship.number }}_subtotal">
							<label class="fc_pre" for="shipto_{{ multiship.number }}_subtotal">{{ lang.checkout_shipment_subtotal|raw }}</label>
							<input type="text" value="{{ multiship.checkout_sub_total }}" onfocus="this.blur()" readonly="readonly" class="fc_text fc_text_short fc_text_readonly fc_subtotal" id="shipto_{{ multiship.number }}_subtotal" name="shipto_{{ multiship.number }}_subtotal">
						</li>
					{% if multiship.has_shipping_or_handling_cost %}
						<li class="fc_row fc_shipto_{{ multiship.number }}_shipping_total">
							<label class="fc_pre" for="shipto_{{ multiship.number }}_shipping_total">{{ multiship.shipping_and_handling_label|raw }}</label>
							<input type="text" value="{{ multiship.shipping_total }}" onfocus="this.blur()" readonly="readonly" class="fc_text fc_text_short fc_text_readonly fc_shipping" id="shipto_{{ multiship.number }}_shipping_total" name="shipto_{{ multiship.number }}_shipping_total">
						</li>
					{% else %}
						<input type="hidden" name="shipto_{{ multiship.number }}_shipping_total" id="shipto_{{ multiship.number }}_shipping_total" class="fc_shipping" value="0" />
					{% endif %}
						<li class="fc_row fc_shipto_{{ multiship.number }}_tax_total">
							<label class="fc_pre" for="shipto_{{ multiship.number }}_tax_total">{{ lang.checkout_shipment_tax|raw }}</label>
							<input type="text" value="{{ multiship.checkout_tax_total }}" onfocus="this.blur()" readonly="readonly" class="fc_text fc_text_short fc_text_readonly fc_taxes" id="shipto_{{ multiship.number }}_tax_total" name="shipto_{{ multiship.number }}_tax_total">
						</li>
						<li class="fc_row fc_shipto_{{ multiship.number }}_total">
							<label class="fc_pre" for="shipto_{{ multiship.number }}_total">{{ lang.checkout_shipment_total|raw }}</label>
							<input type="text" value="{{ multiship.total }}" onfocus="this.blur()" readonly="readonly" class="fc_text fc_text_short fc_text_readonly" id="shipto_{{ multiship.number }}_total" name="shipto_{{ multiship.number }}_total">
						</li>
					</ol>
					^^multiship_custom_fields_{{ multiship.number }}^^
					{% if multiship.has_live_rate_shippable_products %}
						<div class="fc_row fc_shipping_methods_container">
							<label for="fc_shipto_{{ multiship.number }}_shipping_methods" class="fc_pre fc_shipping_methods">{{ lang.checkout_shipping_methods|raw }}</label>
							<div id="fc_shipto_{{ multiship.number }}_shipping_methods" class="fc_radio_group_container fc_row fc_shipping_methods">
								<div id="fc_shipto_{{ multiship.number }}_shipping_result" class="fc_shipping_result">{{ lang.checkout_update_shipping_pre_message|raw }}<a href="javascript:;" onclick="FC.checkout.updateShipping({{ multiship.number }}); return false;">{{ lang.checkout_click_here|raw }}</a>{{ lang.checkout_update_shipping_post_message|raw }}</div>
								<span id="shipto_{{ multiship.number }}_shipping_ajax" class="fc_shipping_ajax" style="display:none">{{ lang.checkout_updating_shipping_options|raw }}<img src="//cdn.foxycart.com/static{{ base_directory }}/images/ajax-loader.gif" alt="{{ lang.checkout_loading|raw }}" /></span>
								<textarea rows="1" cols="1" name="shipto_{{ multiship.number }}_shipping_options" id="shipto_{{ multiship.number }}_shipping_options" style="display:none;">{{ multiship.shipping_options }}</textarea>
								<input type="hidden" name="shipto_{{ multiship.number }}_shipping_service_id" id="shipto_{{ multiship.number }}_shipping_service_id" value="{{ multiship.shipping_service_id }}" />
								<input type="hidden" name="shipto_{{ multiship.number }}_shipping_service_description" id="shipto_{{ multiship.number }}_shipping_service_description" value="{{ multiship.shipping_service_description }}" />
								<div id="fc_shipto_{{ multiship.number }}_shipping_methods_inner" class="fc_shipping_methods_inner">
								{{ multiship.shipping_options_html|raw }}
								</div>
								<label for="fc_shipto_{{ multiship.number }}_shipping_methods" class="fc_error" style="display:none">{{ lang.checkout_select_shipping_option|raw }}</label>
							</div>
						</div>
					{% else %}
						<input type="hidden" name="shipto_{{ multiship.number }}_shipping_service_description" id="shipto_{{ multiship.number }}_shipping_service_description" value="{{ lang.checkout_flat_rate_shipping|raw }}" />
						<input type="hidden" name="shipto_{{ multiship.number }}_shipping_service_id" id="shipto_{{ multiship.number }}_shipping_service_id" value="-1" />
					{% endif %}
					{% if has_downloadables %}
						<div class="fc_downloadable_message_container">
							<p class="fc_downloadable_message">{{ lang.checkout_downloadables_message|raw }}</p>
						</div>
					{% endif %}
					<span class="fc_clear">&nbsp;</span>
				</div><!-- .fc_inner -->
				<div class="fc_shipto_actions">
					<a class="fc_shipto_shipto_set" id="fc_shipto_{{ multiship.number }}_shipto_set" href="javascript:;">{{ lang.checkout_confirm_address|raw }}</a>
					<a class="fc_shipto_shipto_edit" id="fc_shipto_{{ multiship.number }}_shipto_edit" href="javascript:;">{{ lang.checkout_edit_address|raw }}</a>
				</div>
			</fieldset><!-- #fc_shipto_{{ multiship.number }} -->
		<span class="fc_clear">&nbsp;</span>
		</div>
		<input type="hidden" value="{{ multiship.address_name }}" class="fc_shipto_address_name" id="shipto_{{ multiship.number }}_address_name" name="shipto_{{ multiship.number }}_address_name">
	{% endfor %}
	</div>
{% else %}

<!--  *********** address_shipping : Shipping Address ************* -->

<div style="display: none;" class="fc_fieldset_container" id="fc_address_shipping_container">
 	<h2>{{ lang.checkout_shipping_address|raw }}</h2>
	<fieldset id="fc_shipping_address">
		<legend>{{ lang.checkout_shipping_address|raw }}</legend>
		<div class="fc_inner">
			<ol id="fc_address_shipping_list">
				<li class="fc_row fc_row_select fc_autocomplete fc_shipping_country_name">
					<label class="fc_pre" for="shipping_country_name">{{ lang.checkout_country|raw }}<span class="fc_ast">*</span></label>
					<select class="fc_text fc_text_long fc_required fc_location" data-default-value="{{ country_code }}" id="shipping_country" name="shipping_country">
					{{ shipping_country_options|raw }}
					</select>
					<input value="{{ (shipping_country_code == '') ? shipping_country_name : shipping_country_code }}" type="text" style="display:none;" class="fc_autocomplete_input fc_text fc_text_long fc_required fc_location" id="shipping_country_name" name="shipping_country_name">
					<label style="display:none;" class="fc_error" for="shipping_country_name">{{ lang.checkout_error_country|raw }}</label>
				</li>
				<li class="fc_row fc_shipping_first_name">
					<label class="fc_pre" for="shipping_first_name">{{ lang.checkout_first_name|raw }}<span class="fc_ast">*</span></label>
					<input type="text" value="{{ shipping_first_name }}" class="fc_text fc_text_long fc_required" id="shipping_first_name" name="shipping_first_name">
					<label style="display:none;" class="fc_error" for="shipping_first_name">{{ lang.checkout_error_first_name|raw }}</label>
				</li>
				<li class="fc_row fc_shipping_last_name">
					<label class="fc_pre" for="shipping_last_name">{{ lang.checkout_last_name|raw }}<span class="fc_ast">*</span></label>
					<input type="text" value="{{ shipping_last_name }}" class="fc_text fc_text_long fc_required" id="shipping_last_name" name="shipping_last_name">
					<label style="display:none;" class="fc_error" for="shipping_last_name">{{ lang.checkout_error_last_name|raw }}</label>
				</li>
				<li class="fc_row fc_shipping_company">
					<label class="fc_pre" for="shipping_company">{{ lang.checkout_company|raw }}</label>
					<input type="text" value="{{ shipping_company }}" class="fc_text fc_text_long" id="shipping_company" name="shipping_company">
					<label style="display:none;" class="fc_error" for="shipping_company">{{ lang.checkout_error_company|raw }}</label>
				</li>
				<li class="fc_row fc_shipping_address1">
					<label class="fc_pre" for="shipping_address1">{{ lang.checkout_address1|raw }}<span class="fc_ast">*</span></label>
					<input type="text" value="{{ shipping_address1 }}" class="fc_text fc_text_long fc_required" id="shipping_address1" name="shipping_address1">
					<label style="display:none;" class="fc_error" for="shipping_address1">{{ lang.checkout_error_address1|raw }}</label>
				</li>
				<li class="fc_row fc_shipping_address2">
					<label class="fc_pre" for="shipping_address2">{{ lang.checkout_address2|raw }}</label>
					<input type="text" value="{{ shipping_address2 }}" class="fc_text fc_text_long" id="shipping_address2" name="shipping_address2">
				</li>
				<li class="fc_row fc_shipping_city">
					<label class="fc_pre" for="shipping_city">{{ lang.checkout_city|raw }}<span class="fc_ast">*</span></label>
					<input type="text" value="{{ shipping_city }}" class="fc_text fc_text_long fc_required" id="shipping_city" name="shipping_city">
					<label style="display:none;" class="fc_error" for="shipping_city">{{ lang.checkout_error_city|raw }}</label>
				</li>
				<li class="fc_row fc_row_select fc_autocomplete fc_shipping_state_name">
					<label class="fc_pre" for="shipping_state_name">{{ lang.checkout_state|raw }}<span class="fc_ast">*</span></label>
					<select class="fc_text fc_text_long fc_required fc_location" data-default-value="{{ shipping_region_code }}" id="shipping_state" name="shipping_state">
					{{ shipping_region_options|raw }}
					</select>
					<input value="{{ (shipping_region_code == '') ? shipping_region_name : shipping_region_code }}" type="text" style="display:none;" class="fc_autocomplete_input fc_text fc_text_long fc_required fc_location" id="shipping_state_name" name="shipping_state_name">
					<label style="display:none;" class="fc_error" for="shipping_state_name">{{ lang.checkout_error_state|raw }}</label>
				</li>
					<li class="fc_row fc_shipping_postal_code">
					<label class="fc_pre" for="shipping_postal_code">{{ lang.checkout_postal_code|raw }}<span class="fc_ast">*</span></label>
					<input type="text" value="{{ shipping_postal_code }}" class="fc_text fc_text_short fc_required" id="shipping_postal_code" name="shipping_postal_code">
					<label style="display:none;" class="fc_error" for="shipping_postal_code">{{ lang.checkout_error_postal_code|raw }}</label>
					<label style="display:none;" class="fc_error fc_error_invalid_postal_code" for="shipping_postal_code">{{ lang.checkout_error_invalid_postal_code|raw }}</label>
				</li>
				<li class="fc_row fc_shipping_phone">
					<label class="fc_pre" for="shipping_phone">{{ lang.checkout_phone|raw }}</label>
					<input type="text" value="{{ shipping_phone }}" class="fc_text fc_text_long" id="shipping_phone" name="shipping_phone">
					<label style="display:none;" class="fc_error" for="shipping_phone">{{ lang.checkout_error_phone|raw }}</label>
				</li>
			</ol>
			<span class="fc_clear">&nbsp;</span>
		</div><!-- .fc_inner -->
	</fieldset><!-- #fc_address_shipping -->
	<span class="fc_clear">&nbsp;</span>
</div>

{% endif %}

</div><!-- #fc_customer_info_container -->

<!--  *********** Custom Fields Place Holder ************* -->

^^custom_fields^^

<!--  *********** shipping : Delivery &amp; Subtotal ************* -->

<div id="fc_shipping_container" class="fc_fieldset_container ">
	<h2>{{ lang.checkout_delivery_and_subtotal|raw }}</h2>
	<fieldset id="fc_shipping">
		<legend>{{ lang.checkout_delivery_and_subtotal|raw }}</legend>
		<div class="fc_inner">
		{% if has_live_rate_shippable_products and not has_multiship %}
			<div id="fc_shipping_methods_container" class="fc_row fc_shipping_methods_container">
				<label for="fc_shipping_methods" class="fc_pre fc_shipping_methods">{{ lang.checkout_shipping_methods|raw }}</label>
				<div id="fc_shipping_methods" class="fc_radio_group_container fc_row fc_shipping_methods">
					<div id="fc_shipping_result" class="fc_shipping_result">{{ lang.checkout_update_shipping_pre_message|raw }}<a href="javascript:;" onclick="FC.checkout.updateShipping(-1); return false;">{{ lang.checkout_click_here|raw }}</a>{{ lang.checkout_update_shipping_post_message|raw }}</div>
					<span id="shipping_ajax" class="fc_shipping_ajax" style="display:none">{{ lang.checkout_updating_shipping_options|raw }}<img src="//cdn.foxycart.com/static{{ base_directory }}/images/ajax-loader.gif" alt="{{ lang.checkout_loading|raw }}" /></span>
					<textarea rows="1" cols="1" name="shipping_options" id="shipping_options" style="display:none;">{{ shipping_options }}</textarea>
					<input type="hidden" name="shipping_service_id" id="shipping_service_id" value="{{ shipping_service_id }}" />
					<input type="hidden" name="shipping_service_description" id="shipping_service_description" value="{{ shipping_service_description }}" />
					<div id="fc_shipping_methods_inner" class="fc_shipping_methods_inner">
						{{ shipping_options_html|raw }}
					</div>
					<label for="fc_shipping_methods" class="fc_error" style="display:none">{{ lang.checkout_select_shipping_option|raw }}</label>
				</div>
			</div>
		{% endif %}
		{% if has_downloadables %}
			<div class="fc_downloadable_message_container">
				<p class="fc_downloadable_message">{{ lang.checkout_downloadables_message|raw }}</p>
			</div>
		{% endif %}
			<ol id="fc_shipping_list">
				<li class="fc_row fc_subtotal">
					<label for="subtotal" class="fc_pre">{{ lang.checkout_cart_subtotal|raw }}</label>
					<input value="{{ checkout_subtotal }}" type="text" name="subtotal" id="subtotal" class="fc_text fc_text_short fc_text_readonly" readonly="readonly" onfocus="this.blur()" />
				</li>
			{% if has_future_products %}
				<li class="fc_row fc_future_subscriptions">
					<label for="future_subscriptions" class="fc_pre">{{ lang.cart_future_subscriptions|raw }}</label>
					<input value="{{ checkout_future_subscriptions }}" type="text" name="future_subscriptions" id="future_subscriptions" class="fc_text fc_text_short fc_text_readonly" readonly="readonly" onfocus="this.blur()" />
				</li>
			{% endif %}
		{% if has_shipping_or_handling_cost %}
				<li class="fc_row fc_shipping_cost">
					<label for="shipping_cost" class="fc_pre">{{ shipping_and_handling_label|raw }}</label>
					<input value="{{ checkout_shipping_cost }}" type="text" name="shipping_cost" id="shipping_cost" class="fc_text fc_text_short fc_text_readonly" readonly="readonly" onfocus="this.blur()" />
				</li>
			{% if has_future_products %}
				<li class="fc_row fc_future_shipping_cost"{% if not has_future_shipping_and_handling %} style="display:none;"{% endif %}>
					<label for="future_shipping_cost" class="fc_pre">{{ lang.cart_future_subscriptions|raw }} {{ shipping_and_handling_label|raw }}</label>
					<input value="{{ checkout_future_shipping_cost }}" type="text" name="future_shipping_cost" id="future_shipping_cost" class="fc_text fc_text_short fc_text_readonly" readonly="readonly" onfocus="this.blur()" />
				</li>
			{% endif %}
		{% endif %}
			{% if has_discount %}
				<li class="fc_row fc_discount">
					<label for="discount" class="fc_pre">{{ lang.checkout_discount|raw }}</label>
					<input value="{{ checkout_discount }}" type="text" name="discount" id="discount" class="fc_text fc_text_short fc_text_readonly" readonly="readonly" onfocus="this.blur()" />
				</li>
			{% endif %}
				<li class="fc_row fc_tax">
					<label for="tax" class="fc_pre">{{ lang.checkout_tax|raw }}</label>
					<input value="{{ checkout_tax }}" type="text" name="tax" id="tax" class="fc_text fc_text_short fc_text_readonly" readonly="readonly" onfocus="this.blur()" />
				</li>
				<li class="fc_row fc_order_total">
					<label for="order_total" class="fc_pre">{{ lang.checkout_order_total|raw }}</label>
					<input value="{{ checkout_order_total }}" type="text" name="order_total" id="order_total" class="fc_text fc_text_short fc_text_readonly" readonly="readonly" onfocus="this.blur()" />
				</li>
			</ol>
			<span class="fc_clear">&nbsp;</span>
		</div><!-- .fc_inner -->
	</fieldset><!-- #fc_shipping -->
	<span class="fc_clear">&nbsp;</span>
</div><!-- #fc_shipping_container -->

<!--  *********** payment : Payment Information ************* -->

<div id="fc_payment_container" class="fc_fieldset_container ">
	<h2>{{ lang.checkout_payment_information|raw }}</h2>
	<fieldset id="fc_payment">
		<legend>{{ lang.checkout_payment_information|raw }}</legend>
		<div class="fc_inner">
			<ol id="fc_payment_list">
		{% if supports_pay_with_plastic %}
				<li id="fc_payment_method_plastic_container" class="fc_row fc_row_payment_method">
					<label for="fc_payment_method_plastic" class="fc_radio">
						<input type="{{ payment_method_input_type }}"{% if payment_method_type == 'plastic' %} checked="checked"{% endif %} name="fc_payment_method" id="fc_payment_method_plastic" class="fc_radio" value="plastic" />
						<span>{{ lang.checkout_pay_with_credit_card|raw }}</span>
					</label>
			{% if has_multiple_payment_options %}
					<fieldset>
						<ol>
			{% else %}
				</li>
			{% endif %}
							<li id="li_cc_saved" class="fc_row fc_row_radio">
								<label for="c_card_saved" class="fc_radio">
									<input{% if cc_card_is_saved %} checked="checked"{% endif %} type="radio" name="c_card" value="saved" id="c_card_saved" class="fc_radio" onclick="FC.checkout.displayNewCC(0)" />
									<span>{{ lang.checkout_use_saved_payment_info|raw }}</span>
									<span id="fc_c_card_saved_number">{{ checkout_cc_number_masked }}</span>
								</label>
							</li>
							<li id="li_cc_new" class="fc_row fc_row_radio">
								<label for="c_card_new" class="fc_radio">
									<input{% if not cc_card_is_saved %} checked="checked"{% endif %} type="radio" name="c_card" value="new" id="c_card_new" class="fc_radio" onclick="FC.checkout.displayNewCC(1)" />
									<span>{{ lang.checkout_enter_new_card|raw }}</span>
								</label>
							</li>
							<li id="li_cc_number" class="fc_row li_cc_number">
								<label for="cc_number" class="fc_pre">{{ lang.checkout_card_number|raw }}</label>
								<input type="text" name="cc_number" id="cc_number" class="fc_text fc_text_long fc_required" autocomplete="off" value="{{ cc_number }}" />
								<label for="cc_number" class="fc_error" style="display:none">{{ lang.checkout_error_card_number|raw }}</label>
							</li>
							<li id="li_cc_cvv2" class="fc_row li_cc_cvv2">
								<label for="cc_cvv2" class="fc_pre">
									{{ lang.checkout_verification_code|raw }}
									<span id="fc_help_cvv2" class="fc_help">(<a id="fc_help_cvv2_link" class="fc_help fc_jTip" href="{{ base_directory }}/checkout.help.php?topic=cvv2&amp;width=308">{{ lang.checkout_question_mark|raw }}</a>)</span>
								</label>
								<input value="{{ cc_cvv2 }}" type="text" name="cc_cvv2" id="cc_cvv2" class="fc_text fc_text_short fc_required" maxlength="4" />
								<label for="cc_cvv2" class="fc_error" style="display:none">{{ lang.checkout_error_verification_code|raw }}</label>
							</li>
							<li id="li_cc_issue_number" class="fc_row">

								<label for="cc_issue_number" class="fc_pre">
									{{ lang.checkout_issue_number|raw }}
								</label>
								<input value="{{ cc_issue_number }}" type="text" name="cc_issue_number" id="cc_issue_number" class="fc_text fc_text_short fc_required" maxlength="2" />
								<label for="cc_issue_number" class="fc_error" style="display:none">{{ lang.checkout_error_issue_number|raw }}</label>
							</li>
							<li id="li_cc_start_date_month" class="fc_row">
								<label for="cc_start_date_month" class="fc_pre">{{ lang.checkout_start_date|raw }}</label>
								<select id="cc_start_date_month" name="cc_start_date_month" class="inline select_mo">
									<option value="">{{ lang.cart_month|raw }}</option>
									{{ cc_start_date_month_options|raw }}
								</select>
								<select id="cc_start_date_year" name="cc_start_date_year" class="inline select_yr">
									<option value="">{{ lang.cart_year|raw }}</option>
									{{ cc_start_date_year_options|raw }}
								</select>
								<label for="cc_start_date_month" class="fc_error" style="display:none">{{ lang.checkout_error_start_date|raw }}</label>
							</li>
							<li id="li_cc_exp_month" class="fc_row">
								<label for="cc_exp_month" class="fc_pre">{{ lang.checkout_expiration|raw }}</label>
								<select id="cc_exp_month" name="cc_exp_month" class="inline select_mo">
									<option value="">{{ lang.cart_month|raw }}</option>
									{{ cc_expiration_month_options|raw }}
								</select>
								<select id="cc_exp_year" name="cc_exp_year" class="inline select_yr">
								<option value="">Year</option>
									<option value="">{{ lang.cart_year|raw }}</option>
									{{ cc_expiration_year_options|raw }}
								</select>
								<label for="cc_exp_month" class="fc_error" style="display:none">{{ lang.checkout_error_expiration|raw }}</label>
							</li>

							<li id="li_save_cc" class="fc_row fc_row_checkbox">
								<label for="save_cc" class="fc_checkbox">
									<input{% if save_cc_is_checked %} checked="checked"{% endif %} type="checkbox" name="save_cc" id="save_cc" value="1" class="fc_checkbox" />
									<span>{{ save_cc_text }}</span>
								</label>
								<label for="save_cc" class="fc_error" style="display:none">{{ lang.checkout_error_subscription_permission|raw }}</label>
								<input type="hidden" name="cc_number_masked" id="cc_number_masked" value="{{ checkout_cc_number_masked }}" />
							</li>
			{% if has_multiple_payment_options %}
						</ol>
					</fieldset>
				</li>
			{% endif %}
		{% endif %}
			{% if supports_paypal_express and not is_updateinfo %}
				<li id="fc_payment_method_paypal_container" class="fc_row fc_row_payment_method">
				{% if has_multiple_payment_options %}
					<label for="fc_payment_method_paypal" class="fc_radio">
						<input type="{{ payment_method_input_type }}"{% if payment_method_type == 'paypal' %} checked="checked"{% endif %} name="fc_payment_method" id="fc_payment_method_paypal" class="fc_radio" value="paypal" />
						<span>{{ lang.checkout_pay_with_paypal|raw }}</span>
					</label>
				{% else %}
					<input type="hidden" name="fc_payment_method" id="fc_payment_method" value="paypal" />
					<span>{{ lang.checkout_pay_with_paypal|raw }}</span>
				{% endif %}
					<fieldset>
						<p>{{ paypal_description|raw }}</p>
					</fieldset>
				</li>
			{% endif %}
		{% if supports_purchase_order and not is_updateinfo %}
				<li id="fc_payment_method_purchase_order_container" class="fc_row fc_row_payment_method">
					<label for="fc_payment_method_purchase_order" class="fc_radio">
						<input type="{{ payment_method_input_type }}"{% if payment_method_type == 'purchase_order' %} checked="checked"{% endif %} name="fc_payment_method" id="fc_payment_method_purchase_order" class="fc_radio" value="purchase_order" />
						<span>{{ lang.checkout_pay_with_purchase_order|raw }}</span>
					</label>
			{% if has_multiple_payment_options %}
					<fieldset>
						<ol>
			{% else %}
				</li>
			{% endif %}
							<li id="li_purchase_order" class="fc_row li_purchase_order">
								<label for="purchase_order" class="fc_pre">
									{{ lang.checkout_purchase_order_number|raw }}
								</label>
								<input value="{{ purchase_order }}" type="text" name="purchase_order" id="purchase_order" class="fc_text fc_required" />
								<label for="purchase_order" class="fc_error" style="display:none">{{ lang.checkout_error_purchase_order|raw }}</label>
							</li>
			{% if has_multiple_payment_options %}
						</ol>
					</fieldset>
				</li>
			{% endif %}
		{% endif %}
				<li id="li_nopayment" class="fc_row">
					{{ lang.checkout_no_payment_needed|raw }}
				</li>
			</ol>

			<div id="fc_complete_order_button_container" class="fc_row fc_row_actions">
				<button id="fc_complete_order_button" class="fc_button{{ submit_button_class }}" type="button" value="{{ submit_button_value }}" onclick="FC.checkout.validateAndSubmit()">{{ submit_button_value }}</button>
				<div id="fc_complete_order_processing" style="display:none;"><strong class="fc_error"></strong> <br /><img src="//cdn.foxycart.com/static{{ base_directory }}/images/ajax-loader.gif" alt="{{ lang.checkout_loading|raw }}" width="220" height="19" /></div>
			</div><!-- #fc_complete_order_button_container -->

			<span class="fc_clear">&nbsp;</span>
		</div><!-- .fc_inner -->
	</fieldset><!-- #fc_payment -->
	<span class="fc_clear">&nbsp;</span>
</div><!-- #fc_payment_container -->

</div><!-- #fc_data_entry_container -->

{% else %} {# not a subscription cancel #}

<div id="fc_subscription_cancel_message">
	{{ lang.checkout_subscription_cancel_message|raw }}
</div><!-- #fc_subscription_cancel_message -->

	<div id="fc_complete_order_button_container" class="fc_row fc_row_actions">
		<button id="fc_complete_order_button" class="fc_button{{ submit_button_class }}" type="button" value="{{ submit_button_value }}" onclick="FC.checkout.validateAndSubmit()">{{ submit_button_value }}</button>
		<div id="fc_complete_order_processing" style="display:none;"><strong class="fc_error"></strong> <br /><img src="//cdn.foxycart.com/static{{ base_directory }}/images/ajax-loader.gif" alt="{{ lang.checkout_loading|raw }}" width="220" height="19" /></div>
	</div><!-- #fc_complete_order_button_container -->

{% endif %}

</form>
<span class="fc_clear">&nbsp;</span>
</div><!-- #fc_checkout_container -->

<!-- ###########################################################################
	END checkout
	########################################################################### -->
{# END CHECKOUT TWIG TEMPLATE #}
{% endblock %}

	</div>
</body>
</html>